
<!DOCTYPE html>
<html lang="en-US" class="no-js">
	<head>

		<!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
		<title>Vladimir Grigoryan</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">


		<!-- ==============================================
		Favicons
		=============================================== -->
		<link rel="shortcut icon" href="static/images/favicon.ico">
		<link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-touch-icon-114x114.png">
		
		<!-- ==============================================
		CSS
		=============================================== -->    
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/flexslider.css">
		<link rel="stylesheet" href="static/css/styles-9.css">
		
		<!-- ==============================================
		Fonts
		=============================================== -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
		<!-- ==============================================
		JS
		=============================================== -->
			
		<!--[if lt IE 9]>
			<script src="assets/js/libs/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="static/js/libs/modernizr.min.js"></script>
		
	</head>
  
	<body data-spy="scroll" data-target="#main-nav" data-offset="200">
	
		<!--=== PAGE PRELOADER ===-->
		<div id="page-loader"><span class="page-loader-gif"></span></div>
		
	
		<!-- ==============================================
		MAIN NAV
		=============================================== -->
		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					
					<!-- ======= LOGO ========-->
					<a class="navbar-brand scrollto" href="#home"><img src="static/images/mecropped.png" alt=""/>Vladimir Grigoryan</a>
				
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="sr-only">
							<a href="#home" class="scrollto">Home</a>
						</li>
                        <li>
							<a href="#about" class="scrollto">About Me</a>
						</li>
						<li>
							<a href="#services" class="scrollto">Technologies</a>
						</li>
						<li>
							<a href="#portfolio" class="scrollto">My Projects</a>
						</li>
						<li>
							<a href="#contact" class="scrollto">Contact Me</a>
						</li>
					</ul>
				</div><!--End navbar-collapse -->
				
			</div><!--End container -->
			
		</div><!--End main-nav -->
		
		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home">
		
			<div class="container text-center">
			
				<p>Welcome to my</p>
				
				<h1>Portfolio</h1>
                <p>Scroll down to discover my works</p>
			
			</div>
			
		</header><!--End header -->
		
		
		<!-- ==============================================
		ABOUT
		=============================================== -->
		<section id="about" class="add-padding bg-color2">
		
			<div class="container">
				
				<div class="row">
				
					<div class="col-sm-6 scrollimation fade-right d1">
						<img class="img-responsive polaroid" src="static/images/about.jpg" alt="" />
					</div>
					
					<div class="col-sm-6 scrollimation fade-left d3">
					
						<h1 class="big-text">A little <br/>About myself </h1>
						
						<p class="lead">I earned my Bachelors in Economics from UC Berkeley and immediately immersed myself in the fin-tech industry as a Strategy Analyst. This provided me direct exposure in working alongside engineers through sprint cycles, managing product deployments, and collaborating with business units to analyze requirements for software implementations. I have recently completed a rigorous 3 month Software Development boot camp in Los Angeles, and acquired knowledge in three full technology stacks. </p>
					
						<p class="lead">I am passionate about combining function, interaction, and form to design for fitting user experiences. I have an appetite for learning and like to continuously challenge myself through developing exciting projects. Check out my most recent project 'Transcrypter', which combined my passion for economics,crypto-currencies, and web-development to create a powerful portfolio tracking application</p>
					
					</div>
				
				</div>
				
			</div>
		
		</section>

        <!-- ==============================================
		SERVICES
		=============================================== -->
		<section id="services" class="add-padding">
		
			<div class="container">
				
				<h1 class="section-title big-text scrollimation fade-up">Technologies</h1>
				
				<div class="row">
				
					<div class="col-sm-4 service-item color3 scrollimation scale-in">
					
						<i class="fa"> <img src="static/images/python.png" style="width:130px;height:130px;"/> </i>
						
						
						<h3>Python</h3>						
						
					</div>
				
					<div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/javascript.png" style="width:130px;height:130px;"/> </i>
						
						<h3>JavaScript</h3>						
						
					</div>
					
					<div class="col-sm-4 service-item color2 scrollimation scale-in d2">
					
						<i class="fa"> <img src="static/images/swift.png" style="width:130px;height:130px;"/> </i>
						
						<h3>iOS/Swift</h3>

					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/django.png" style="width:130px;height:130px;"/> </i>
						
						<h3>Django</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/angular.svg" style="width:130px;height:130px;"/> </i>
						
						<h3>Angular JS</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/nodejs.png" style="width:130px;height:130px;"/> </i>
						
						<h3>Node JS</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/express.png" style="width:130px;height:130px;"/> </i>
						
						<h3>Express JS</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/mongo.png" style="width:130px;height:130px;"/> </i>
						
						<h3>MongoDB/Mongoose</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/sql.png" style="width:130px;height:130px;"/> </i>
						
						<h3>SQL</h3>						
						
					</div>
                    
                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/html.png" style="width:130px;height:130px;"/> </i>
						
						<h3>HTML5</h3>						
						
					</div>

                    <div class="col-sm-4 service-item color1 scrollimation scale-in d1">
					
						<i class="fa"> <img src="static/images/css.png" style="width:130px;height:130px;"/> </i>
						
						<h3>CSS</h3>						
						
					</div>

                   <div class="col-sm-4 service-item color1 scrollimation scale-in d1">

						<i class="fa"> <img src="static/images/github.png" style="width:130px;height:130px;"/> </i>
											
						<h3>Git/Github</h3>						
					</div>
					
				</div>
				
			</div>
		
		</section>

	
		
		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="add-padding">
		
			<div class="container">
				
				<h1 class="big-text text-center scrollimation fade-in">My Projects</h1>
				
				<!--==== Portfolio Filters ====-->
				<div id="filter-works">
					<ul>
						<li class="active scrollimation fade-right d1">
							<a href="#" data-filter="*">All</a>
						</li>
						<li class="scrollimation fade-right">
							<a href="#" data-filter=".django">Django</a>
						</li>
						<li class="scrollimation fade-left">
							<a href="#" data-filter=".mean">M.E.A.N.</a>
						</li>
						<li class="scrollimation fade-left d1">
							<a href="#" data-filter=".ios">iOS</a>
						</li>
					</ul>
				</div><!--End portfolio filters -->
				
				<!--==== Project Preview ====-->
				<div id="project-preview">
				
					<span class="close-preview">&times;</span>
				
					<div id="project-slider" class="flexslider"></div>
					
					<h1 id="project-title"></h1>
				
					<div id="project-content"></div>
				
				</div><!--Project Preview -->
				
			</div>
		
			<div class="container masonry-wrapper">
			
				<div id="projects-container">
				
					<!-- ==============================================
					SINGLE PROJECT ITEM
					=============================================== -->	
					<article class="project-item mean">
						
						<img class="img-responsive project-image" src="static/images/crypto.jpg"  style='width:400px;height:270px;border-radius:15px;' alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">TransCrypter</h2><!--Project Title -->
							<p>M.E.A.N.</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="static/images/transcrypt2.png,static/images/transcrypt1.png,static/images/transcrypt3.png" style='width:400px;height:270px;border-radius:15px'>
						
							<p>With cryptocurrencies gaining significant mainstream/media attention, there has been an influx of applications in the market dealing with the topic. Myself being an avid crypto-enthusiast, I decided to create a handy application where users can track their crypto trades, and save trades to their very own crypto-portfolio, helping them visualize gains and losses, portfolio allocations, market statistics, etc.</p>
							
							<p>Currently, there isn't a user friendly tool in the market where one can enter in a trade between two crypto-currencies at any point in time, and instantly get the fiat value of that trade at that point in time. If you are a crypto-enthusiast or you are new to cryptos, check out 'Transcrypter'. The web-app gathers real time data using an API integration with cryptoCompare and handles calculations on the back-end to show users their portfolio and trade metrics</p>
							<p class="text-center"><a class="btn btn-color1" href="http://18.217.134.31"><i class="fa fa-arrow-right"></i>Visit Website</a></p>
						
						</div>
						
					</article>
					<!-- ==============================================
					END PROJECT ITEM
					=============================================== -->						
					
					<article class="project-item identity ios">
						
						<img class="img-responsive project-image" src="static/images/paddle.png" style='width:400px;height:270px;border-radius:15px'alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">Pongster</h2><!--Project Title -->
							<p>iOS</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" style='border-radius:15px' data-images="static/images/pong1.png,static/images/pong3.png,static/images/pong2.png">
						
							<p>An immersive arcade ping-pong game that'll have you hooked in seconds. Built with Swift, the app allows users to select various difficulty levels against the computer algorithm, with the enemy in each level getting progressively faster and having more accurate hits. Users also have the ability to play 2-player against one another.</p>
							
							<p>If you're a fan of classic arcade games, feel free to clone the code on Github and provide any feedback you have!</p>
							<p class="text-center"><a class="btn btn-color1" href="https://github.com/vladgrig93/pongster/tree/master/Pongster"><i class="fa fa-arrow-right"></i>View on Github</a></p>
							
						</div>
						
					</article><!--End Project Item -->

					<article class="project-item django">
						
						<img class="img-responsive project-image" src="static/images/recordstore.bmp" style='width:400px;height:270px;border-radius:15px'alt=""><!--Project thumb -->
						
						<div class="hover-mask">
							<h2 class="project-title">Record Store</h2><!--Project Title -->
							<p>Django</p><!--Project Subtitle -->
						</div>
						
						<!--==== Project Preview HTML ====-->
						
						<div class="sr-only project-description" data-images="static/images/rec1.png,static/images/rec3.png,static/images/rec4.png,static/images/rec5.png">
						
							<p>For fans of vinyls and record stores, we created an online platform that would give users access to purchasing their favorite records online. Currently the data is hardcorded for demonstration purposes, however the platform is flexible enough to allow us to work with any vendor to easily add their collection of records to the site.</p>
							
							<p>The platform uses Bootstrap for a slick user interface and is seamlessly integrated with the YouTube API, to allow users to instantly sample a 30 seconds snippet of the records they are buying. Integration with the secure Stripe API allows for fluid credit card processing in a matter of seconds.</p>

							<p class="text-center"><a class="btn btn-color1" href="https://github.com/vladgrig93/record_store_final"><i class="fa fa-arrow-right"></i>View on Github</a></p>
						</div>
						
					</article><!--End Project Item -->

					
				</div><!-- End projects --> 
				
			</div><!-- End container --> 
			
		
		</section>
			
		
		<!-- ==============================================
		CONTACT
		=============================================== -->
		<section id="contact" class="add-padding">
		
			<div class="container text-center">
				
				<div class="row">
				
					<div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">
					
						<h1 class="big-text" id='mycontacttext'>Contact Me</h1>
						
						<p class="lead" id='mycontacttext'>Have an exciting project or opportunity in mind? Please feel free to shoot me a message</p>
					
					</div>
				
					<!--=== Contact Form ===-->

					<form id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="https://formcarry.com/s/rJmbrYkwM" method="post" novalidate>
						
						<div class="form-group">
						  <label class="control-label" for="contact-name">Name</label>
						  <div class="controls">
							<input id="contact-name" name="contactName" placeholder="Your name" class="form-control requiredField" type="text" data-error-empty="Please enter your name">
							<i class="fa fa-user"></i>
						  </div>
						</div><!-- End name input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-mail">Email</label>
						  <div class=" controls">
							<input id="contact-mail" name="email" placeholder="Your email" class="form-control requiredField" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
							<i class="fa fa-envelope"></i>
						  </div>
						</div><!-- End email input -->
						
						<div class="form-group">
						  <label class="control-label" for="contact-message">Message</label>
							<div class="controls">
								<textarea id="contact-message" name="comments"  placeholder="Your message" class="form-control requiredField" rows="6" data-error-empty="Please enter your message"></textarea>
								<i class="fa fa-comment"></i>
							</div>
						</div><!-- End textarea -->
						
						<p><button name="submit" type="submit" class="btn btn-color2 btn-block" data-error-message="Error!" data-sending-message="Sent" data-ok-message="Message Sent" style='border-radius:10px'><i class="fa fa-paper-plane"></i>Send Message</button></p>
						<input type="hidden" name="submitted" id="submitted" value="true" />
						
					</form><!-- End contact-form -->
					
				</div>
				
			</div>
		
		</section>
			
		
		
		<!-- ==============================================
		FOOTER
		=============================================== -->	
		
		<footer id="main-footer" class="add-padding bg-color3 border-top-color2">
		
			<div class="container">
			
				<ul class="social-links text-center">
					<li><a href="https://www.linkedin.com/in/vladimirgrigoryan/"><img src="static/images/linkedin.png" style="width:50px;height:50px;"/></a></li>
                    <li><a href="https://github.com/vladgrig93"><img src="static/images/git2.png" style="width:50px;height:50px;"/></a></li>

                </ul>
			
				<p class="text-center">&copy; 2018 - All rights reserved</p>
			
			</div>
			
		</footer>
		
		<!-- ==============================================
		SCRIPTS
		=============================================== -->	
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.9.1.min.js">\x3C/script>')</script>
		
       

		<script src="static/js/libs/bootstrap.min.js"></script>
		<script src="static/js/jquery.scrollto.js"></script>
		<script src="static/js/waypoints.min.js"></script>
		<script src="static/js/jquery.masonry.min.js"></script>
		<script src="static/js/jquery.flexslider.min.js"></script>
		<script src="static/js/jquery.backstretch.min.js"></script>
		<!--<script src="static/js/twitterFetcher_min.js"></script>-->
		<!--<script src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
		<script src="static/js/contact.js"></script>
		<script src="static/js/scripts.js"></script>
		
		<!--<script>
		
			var mapPoint = {
					'lat': 34.1425,
					'lng': -118.2551,
					'zoom' : 15,
					'infoText':'<p>Glendale,\
								<br/>CA\
								</p>',
					'linkText':'View on Google Maps',
					'mapAddress':'Greater Los Angeles Area',
					'icon': 'static/images/pin-dark.png'
				};
			
		</script>-->
		
	</body>
	
</html>