<!-- ==============================================
		SKILLS
		=============================================== -->
		<!--<section id="skills" class="add-padding border-bottom-color2">
		
			<div class="container">
				
				<div class="row">
				
					<div class="col-sm-6 col-md-5 text-right scrollimation fade-up d1">
					
						<h1 class="big-text">I got<br/>The skills </h1>
						
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
					
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
					
					</div>
				
					<div class="col-sm-6 col-md-5 col-md-offset-1">
					
						<div class="skills-bars">
						
							<div class="skills-item skill1">
								<span class="percent" data-percent="75">75%</span>
								<p>Photoshop</p>
							</div>
							<div class="skills-item skill2">
								<span class="percent" data-percent="70">70%</span>
								<p>Illustrator</p>
							</div>
							<div class="skills-item skill3">
								<span class="percent" data-percent="90">90%</span>
								<p>HTML</p>
							</div>
							<div class="skills-item skill4">
								<span class="percent" data-percent="60">60%</span>
								<p>CSS</p>
							</div>
							
						</div>
					
					</div>
					
				</div>
				
			</div>
		
		</section>-->
			


            <!-- ==============================================
		TWITTER
		=============================================== -->
		<!--<section id="twitter" class="add-padding bg-color1">
		
			<div class="container">
				<div class="row scrollimation fade-in">
					<div class="col-sm-1 twitter-icon">
						<i class="fa fa-twitter"></i>
					</div>
					<div class="col-sm-11">
						<div id="twitter-slider" class="flexslider" data-widget-id="386017398488186880" data-tweets-length="3"></div>
					</div>
				</div>
			</div>
		
		</section>-->
			